<!DOCTYPE HTML>
<html lang="en-us">
	{{ partial "header.html" . }}
	<body>
        <a name="top"></a>
        {{ partial "nav.html" . }}
        <div class="list-content mx-auto p-2">
            <h2>{{.Title}}</h2>
            
            {{ template "partials/pagination.html" . }}

            {{ range .Paginator.Pages }}
                <div class="row mx-auto my-5" style="max-width: 1000px;">
                    <a id="{{.Params.anchor}}"></a>
                    <div class="col-md-4 m-auto px-sm-0">
                        <img src="{{ (printf `%s%s` `img/` .Params.thumbnail) | absURL }}" class="card-img" alt=".Params.thumbnailAlt">
                    </div>
                    <div class="col-md-8 p-4">
                        <h3>{{ .Params.title | safeHTML}}</h3>
                        <h4>{{ .Params.subtitle}}</h4>
                        {{if .Params.location }}<h5>{{ .Params.location}}</h5>{{end}}
                        {{ if ne .Params.slidesLink nil }}
                            <a target="_blank" href="{{.Params.slidesLink}}">Slides</a>
                        {{end}}
                        <div class="card-text text-justify">{{.Content}}</div>
                        <small class="text-muted">{{ dateFormat "January 2006" .Params.date }}</small>
                    </div>
                </div>
            {{ end }}
            
            {{ template "partials/pagination.html" . }}
            
            <div class="text-center mb-5">
                <a href="#top">Back to top</a>
            </div>
        </div>
	</body>
</html>