<!DOCTYPE HTML>
<html lang="en-us">
	{{ partial "header.html" . }}
	<body>
    <a name="top"></a>
    <div class="row list-navbar">
        {{ partial "nav.html" . }}
    </div>
    <div class="row py-4 list-content">
        <div class="col-sm-12 m-0">
            <h2>{{.Title}}</h2>
            
            {{ template "partials/pagination.html" . }}

            {{ range .Paginator.Pages }}
                <div class="card mx-auto my-5 border-0" style="max-width: 1000px;">
                    <a id="{{.Params.anchor}}"></a>
                    <div class="row no-gutters border-0">
                        <div class="col-md-4 mx-auto my-auto">
                            <img src="{{ (printf `%s%s` `img/` .Params.thumbnail) | absURL }}" class="card-img" alt=".Params.thumbnailAlt">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>{{ .Params.title | safeHTML}}</h3>
                                <h4>{{ .Params.subtitle}}</h4>
                                {{if .Params.location }}<h5>{{ .Params.location}}</h5>{{end}}
                                <div class="card-text text-justify">{{.Content}}</div>
                                {{ if ne .Params.slidesLink nil }}
                                    <a target="_blank" href="{{.Params.slidesLink}}">Slides</a>
                                {{end}}
                                <p class="card-text"><small class="text-muted">{{ dateFormat "January 2006" .Params.date }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            
            {{ template "partials/pagination.html" . }}
            <div class="text-center mb-5">
                <a href="#top">Back to top</a>
            </div>
        </div>
    </div>
	</body>
</html>