<div class="btn-group w-100 text-center" role="group" aria-label="Contact">
  <a class="btn" target="_blank" href="mailto:vegaju@upmc.edu" role="button" aria-label="email">{{ partial "fontawesome.html" "envelope" }}</a>
  <a class="btn" target="_blank" href="https://twitter.com/julio_ui" role="button" aria-label="twitter">{{ partial "fontawesome.html" "twitter" }}</a>
  <a class="btn" target="_blank" href="https://www.researchgate.net/profile/Julio_Vega7" role="button" aria-label="research gate">{{ partial "fontawesome.html" "researchgate" }}</a>
</div>