<div class="list-group mx-auto col-sm-10 px-0">
    <a href="#" class="list-group-item list-group-item-action active disabled">
        Contact  
    </a>
    <a href="mailto:vegaju@upmc.edu" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center">
    <span class="mr-3">{{ partial "fontawesome.html" "envelope" }}</span>
    <span class="">Email</span>
    </a>  
    <a href="https://twitter.com/julio_ui" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center">
    <span class="mr-3">{{ partial "fontawesome.html" "twitter" }}</span>
    <span class="">@julio_ui</span>
    </a>  
    <a href="https://www.researchgate.net/profile/Julio_Vega7" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center">
    <span class="mr-3">{{ partial "fontawesome.html" "researchgate" }}</span>
    <span class="">ResearchGate</span>
    </a>  
</div>