<link href="{{ `css/bootstrap.min.css` | absURL}}" rel="stylesheet">
<link href="{{ `css/styles.css` | absURL }}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ `js/bootstrap.bundle.min.js` | absURL }}"></script>
<link rel="shortcut icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<link rel="icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<title>{{.Site.Title}}</title>