<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ `css/bootstrap.min.css` | absURL}}" rel="stylesheet">
{{ $styles := resources.Get "css/styles.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<link rel="icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<title>{{.Site.Title}}</title>