<link href="{{ `css/bootstrap.min.css` | absURL}}" rel="stylesheet">
{{ $styles := resources.Get "css/styles.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
<script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="{{ `js/bootstrap.bundle.min.js` | absURL }}"></script>
<link rel="shortcut icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<link rel="icon" type="image/x-icon" href="{{ `img/favicon.ico` | absURL }}">
<title>{{.Site.Title}}</title>