<!DOCTYPE HTML>
<html lang="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ partial "header.html" . }}
	<body>
    <div class="row homepage-navbar mb-5">
        {{ partial "nav.html" . }}
    </div>
    <div class="row py-4 homepage-content">

        <div class="col-lg-9 m-0 p-3">
            <div class="container m-0 p-0">
                <div class="row mb-5">
                    <div class="col-sm-3 px-auto">
                        <div class="row no-gutters">
                            <div class="text-center">
                                <img alt="Julio's photo" src="{{  (printf `%s%s` `img/` .Params.profile) | absURL}}" class="profile_photo rounded-circle"/>
                            </div>
                        </div>
                        <div class="row no-gutters my-3 d-block d-sm-none">
                            {{ partial "contact_icons.html" .}}
                        </div>
                    </div>
                    <div class="col-sm-9">
                        {{.Content | safeHTML}}
                    </div>
                </div>
                <div class="row my-5">
                    {{ partial "news_homepage.html" . }}
                </div>
                <div class="row my-5">
                    {{ partial "publications_homepage.html" . }}
                </div>
                <div class="row my-5">
                    {{ partial "outreach_homepage.html" . }}
                </div>
                <div class="row my-5">
                    {{ partial "projects_homepage.html" . }}
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-0 p-3">
            <div class="container m-0 p-0">
                <div class="row mx-auto mb-5 d-none d-sm-block">
                    {{ partial "contact_list.html" .}}
                </div>
                <div class="row mx-auto my-5">
                    {{ partial "reviewer.html" . }}
                </div>
                <div class="row mx-auto my-5">
                    {{ partial "teaching.html" . }}
                </div>
                <div class="row mx-auto my-5">
                    {{ partial "alumni.html" . }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" .}}
	</body>
</html>