<!DOCTYPE HTML>
<html lang="en-us">
	{{ partial "header.html" . }}
	<body>
    {{ partial "nav.html" . }}
    <div class="row homepage-content mt-sm-5">

        <div class="col-lg-9 m-0 px-3">
            <div class="row my-0">
                <div class="col-sm-3 px-auto">
                    <div class="row no-gutters">
                        <div class="text-center">
                            <img alt="Julio's photo" src="{{  (printf `%s%s` `img/` .Params.profile) | absURL}}" class="profile_photo rounded-circle"/>
                        </div>
                    </div>
                    <div class="row no-gutters my-3 d-block d-sm-none">
                        {{ partial "contact_icons.html" .}}
                    </div>
                </div>
                <div class="col-sm-9 text-justify">
                    {{.Content | safeHTML}}
                </div>
            </div>
            <div class="homepage-cards">
                {{ partial "news_homepage.html" . }}
                {{ partial "publications_homepage.html" . }}
                {{ partial "outreach_homepage.html" . }}
                {{ partial "projects_homepage.html" . }}
            </div>
        </div>
        <div class="col-lg-3 m-0 px-3">
                {{ partial "contact_list.html" .}}
                {{ partial "reviewer.html" . }}
                {{ partial "teaching.html" . }}
                {{ partial "alumni.html" . }}
        </div>
    </div>
    {{ partial "footer.html" .}}
	</body>
</html>